.hilight {
  font-size: 20px;
  color: red;
}

.test {
  .tab {
    width: 120px;
  }
  .content {
    > div {
      padding-top: 10px;
    }
  }
}

.my-steps {
  margin-left: -32px;
  .step {
    width: 160px;
    &:after {
      content: ' ';
      border-top: 1px solid #ccc;
      position: absolute;
      top: 12px;
      left: 96px;
      right: -64px;
    }
  }
}
