.x-hide {
  display: none !important;
}

.rc-dialog {
  .rc-dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    transition: opacity 0.15s linear;
    &.out {
      opacity: 0;
    }
    &.in {
      opacity: 0.8;
    }
  }
  .rc-dialog-body {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    box-sizing: border-box;
    min-width: 200px;
    transform: translateX(-50%);
    min-height: 200px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    outline: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    transition: opacity 0.3s linear, top 0.3s ease-out;
    &.out {
      opacity: 0;
      top: -25%;
    }
    &.in {
      top: 10%;
      opacity: 1;
    }
  }
}
