.rc-pager {
  > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    > li {
      display: inline-block;
      cursor: pointer;
      border-radius: 2px;
      padding: 4px 9px;
      &.disable {
        cursor: default;
        color: #f0f0f0;
      }
      &:hover {
        background: #f0f0f0;
      }
      &:first-child:hover,
      &:last-child:hover {
        background: #fff;
      }
      &.active {
        background: #ccc;
        color: #fff;
      }
    }
  }
}
